//
@import 'partials/variables';
@import 'partials/reset';

.active {
    background-color: yellow;
    border-bottom: solid 2px blue;
}


// ___header___________________

header{
    background-color: #fff;

  .header {
    display: flex;
    justify-content: space-between;
    height: 100%;

  }
  img {
    display: block;
    height: 4rem;
    width: 4rem;
    margin: 1rem 0;
  }
  ul{
    height: 100%;
      li{
        display: inline-block;
        text-transform: uppercase;
        height: 100%;
        a{
          text-decoration: none;
          color: $navbar-color;
          margin-left: 1rem;
          font-weight: 700;
          height: 100%;
          display: flex;
          align-items: center;
          border-bottom: 0.4rem transparent solid;
          &:hover {
                border-bottom: 0.4rem $blue-dc-color solid;
                color: $blue-dc-color;
              }
        }
      }
  }
}

// ___main___________________
main{
    color: #fff;
    text-transform: uppercase;
    #jumbotron {
      height: 300px;
      overflow: hidden;
      img {
        background-repeat: no-repeat;
        background-size: auto;
        width: 100%;
      }
    }
    #comics{
      // background-color: $dark-bg-color;
        h2{
          background: $blue-dc-color;
          padding: .7rem .5rem;
          display: inline-block;
        }
      .container{
        flex-wrap: wrap;
        .item{
            padding: 1rem .5rem;
            width: calc(100% / 6);
            .img-item-content{
                max-width: 100%;
                position: relative;
                background-color: aqua;
                margin-bottom:1rem;
                overflow: hidden;
                &::after{
                    content: '';
                    display: block;
                    padding-bottom: 100%;
                }
                img{
                    position: absolute;
                    width: 100%;
                    overflow: hidden;
                }
            }
            span{
                text-align: left;
                font-size: .9rem;
            }
        }
      }
      .span-load{
        background: $blue-dc-color;
        font-weight: bold;
        padding: .7rem 3rem;
        display: table;
        margin: 1.5rem auto;
        text-align: center;
        cursor: pointer;
      }
    }

    // ___bluebar___________________

    .icons{
        margin-top: 2rem;
        padding: 2rem;
        background-color: $blue-dc-color;
        color: white;
        text-transform: uppercase;
        .container{
          align-items: center;
          img{
            height: 60px;
            width: auto;
            margin-left: 2rem;
          }
          span{
            padding-left: 1rem;
          }
        }
      }

  }

  // ___footer___________________
  footer{
      .main-footer{
        // background-image: url("./images/footer-bg.jpg");
          position: relative;
          color: gray;
        //   overflow: hidden;
          img{
            background-repeat: no-repeat;
            background-size: auto;
            width: 100%;
          }
          .container{
            //   margin-top: 5rem;
              width:100%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              .left{
                //   width: 50%;
                  flex-wrap: wrap;
                  align-items: flex-start;
                  .column{
                      width: calc(100% / 4);
                      align-self: flex-start;
                  }
                 ul{
                   list-style-type: none;
                     h3{
                       color: white;
                       text-transform: uppercase;
                       padding-bottom: .5rem;
                    }
                     li{
                         font-size: .9em;
                         padding: .2rem 0;
                       a{
                           color: gray;
                           text-decoration: none;
                       }
                     }
                 }
                 h3, p{
                    padding-top: 1rem;
                 }
                 p{
                    // width: 100%;
                    font-size: .9em;
                 }
             }
             .right{
                width: 50%;
                 img{
                    //  width: 150%;
                 }
             }
          }
      }

      .lower-footer{
        background-color: #303030;
        text-transform: uppercase;
        font-size: 1.5rem;
        .container{
            justify-content: space-between;
            align-items: center;
            padding:2rem 0;

          .span-sign-up{
              a{
                  border: 4px solid $blue-dc-color;
                  padding: .5rem 1rem;
                  text-decoration: none;
                  color: #fff;
              }
          }

          .follow{
            align-items: center;
            .span-follow{
                color: $blue-dc-color;
                font-weight: bold;
                padding-right: .5rem;
            }
            ul{
                display: inline;
                li{
                    display: inline;
                    padding-left: .5rem;
                    a{
                        text-decoration: none;
                    }
                }
            }
          }
        }
      }
  }
