* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background-color: rgb(28, 28, 28);
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.active {
  background-color: yellow;
  border-bottom: solid 2px blue;
}

header {
  background-color: #fff;
}
header .header {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
header img {
  display: block;
  height: 4rem;
  width: 4rem;
  margin: 1rem 0;
}
header ul {
  height: 100%;
}
header ul li {
  display: inline-block;
  text-transform: uppercase;
  height: 100%;
}
header ul li a {
  text-decoration: none;
  color: rgb(75, 75, 75);
  margin-left: 1rem;
  font-weight: 700;
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 0.4rem transparent solid;
}
header ul li a:hover {
  border-bottom: 0.4rem rgb(12, 124, 236) solid;
  color: rgb(12, 124, 236);
}

main {
  color: #fff;
  text-transform: uppercase;
}
main #jumbotron {
  height: 300px;
  overflow: hidden;
}
main #jumbotron img {
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
}
main #comics h2 {
  background: rgb(12, 124, 236);
  padding: 0.7rem 0.5rem;
  display: inline-block;
}
main #comics .container {
  flex-wrap: wrap;
}
main #comics .container .item {
  padding: 1rem 0.5rem;
  width: 16.6666666667%;
}
main #comics .container .item .img-item-content {
  max-width: 100%;
  position: relative;
  background-color: aqua;
  margin-bottom: 1rem;
  overflow: hidden;
}
main #comics .container .item .img-item-content::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
main #comics .container .item .img-item-content img {
  position: absolute;
  width: 100%;
  overflow: hidden;
}
main #comics .container .item span {
  text-align: left;
  font-size: 0.9rem;
}
main #comics .span-load {
  background: rgb(12, 124, 236);
  font-weight: bold;
  padding: 0.7rem 3rem;
  display: table;
  margin: 1.5rem auto;
  text-align: center;
  cursor: pointer;
}
main .icons {
  margin-top: 2rem;
  padding: 2rem;
  background-color: rgb(12, 124, 236);
  color: white;
  text-transform: uppercase;
}
main .icons .container {
  align-items: center;
}
main .icons .container img {
  height: 60px;
  width: auto;
  margin-left: 2rem;
}
main .icons .container span {
  padding-left: 1rem;
}

footer .main-footer {
  position: relative;
  color: gray;
}
footer .main-footer img {
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
}
footer .main-footer .container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer .main-footer .container .left {
  flex-wrap: wrap;
  align-items: flex-start;
}
footer .main-footer .container .left .column {
  width: 25%;
  align-self: flex-start;
}
footer .main-footer .container .left ul {
  list-style-type: none;
}
footer .main-footer .container .left ul h3 {
  color: white;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
}
footer .main-footer .container .left ul li {
  font-size: 0.9em;
  padding: 0.2rem 0;
}
footer .main-footer .container .left ul li a {
  color: gray;
  text-decoration: none;
}
footer .main-footer .container .left h3, footer .main-footer .container .left p {
  padding-top: 1rem;
}
footer .main-footer .container .left p {
  font-size: 0.9em;
}
footer .main-footer .container .right {
  width: 50%;
}
footer .lower-footer {
  background-color: #303030;
  text-transform: uppercase;
  font-size: 1.5rem;
}
footer .lower-footer .container {
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
footer .lower-footer .container .span-sign-up a {
  border: 4px solid rgb(12, 124, 236);
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #fff;
}
footer .lower-footer .container .follow {
  align-items: center;
}
footer .lower-footer .container .follow .span-follow {
  color: rgb(12, 124, 236);
  font-weight: bold;
  padding-right: 0.5rem;
}
footer .lower-footer .container .follow ul {
  display: inline;
}
footer .lower-footer .container .follow ul li {
  display: inline;
  padding-left: 0.5rem;
}
footer .lower-footer .container .follow ul li a {
  text-decoration: none;
}